@page
@model asp_presentacion.Pages.Ventanas.EmpleadosModel
@{
    ViewData["Titulo"] = "Empleados";
}
<center>
    <div>
        <form method="POST"
            enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Empleados</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id_Empleado" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id_Empleado" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Id_Hotel" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Id_Sede" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Apellido" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Edad" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Fecha_Naci" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Sexo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Fecha_Contratacion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Rol" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Casa</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Codigo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstudiante"
                                   class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Id_Empleado" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                   class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Id_Hotel" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Telefono
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                   class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Id_Sede" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Telefono
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Telefono
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                   class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Apellido" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Telefono
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Edad" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Telefono
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Fecha_Naci" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Dirreccion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota2"
                                   class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Sexo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Dirreccion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota2"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Fecha_Contratacion" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Dirreccion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota2"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Rol" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Accion" />
                    @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Id_Empleado,
                                @Model.Actual!.Id_Hotel,
                                @Model.Actual!.Id_Sede,
                                @Model.Actual!.Nombre,
                                @Model.Actual!.Apellido,
                                @Model.Actual!.Edad,
                                @Model.Actual!.Fecha_Naci,
                                @Model.Actual!.Sexo,
                                @Model.Actual!.Fecha_Contratacion,
                                @Model.Actual!.Rol,
                               
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                               value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />
                            <input type="submit"
                               value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre"
                   class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Id_Empleado"
                   placeholder="Nombre" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Id_Empleado
                            </th>
                            <th>
                                Id_Hotel
                            </th>
                            <th class="cl_hidden">
                                Id_Sede
                            </th>
                            <th class="cl_actions">
                                Nombre
                            </th>
                            <th class="cl_actions">
                                Apellido
                            </th>
                            <th class="cl_actions">
                                Edad
                            </th>
                            <th class="cl_actions">
                                Fecha_Naci
                            </th>
                            <th class="cl_actions">
                                Sexo
                            </th>
                            <th class="cl_actions">
                                Fecha_Contratacion
                            </th>
                            <th class="cl_actions">
                                Rol
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Id_Empleado
                                    </td>
                                    <td>
                                        @elemento.Id_Hotel
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Id_Sede
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Nombre
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Apellido
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Edad
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Fecha_Naci
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Sexo
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Fecha_Contratacion
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Rol
                                    </td>
                                    <td>
                                        <input type="submit"
                                           value="Modicar"
                                           asp-page-handler="BtModificar"
                                           class="btn btn-secondary"
                                               asp-route-data="@elemento.Id_Empleado" />
                                        <input type="submit"
                                           value="Borrar"
                                           asp-page-handler="BtBorrarVal"
                                           class="btn btn-secondary"
                                               asp-route-data="@elemento.Id_Empleado" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>