@page
@model asp_presentacion.Pages.Ventanas.EstadiasModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
            enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Estadias</h3>
            </div>
            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                    asp-for="@Model.Actual!.Id_Estadia" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                   asp-for="@Model.Actual!.Id_Estadia" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Fecha_Entrada" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Fecha_Salida" />
                <input type="hidden"
                   asp-for="@Model.Actual!.Id_Reserva" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Casa</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Id_Estadia
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstudiante"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Id_Estadia" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha_Entrada
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Fecha_Entrada" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Id_Reserva
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota1"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Id_Reserva" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Fecha_Salida
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNota2"
                                   class="cts_forms form-control"
                                   asp-for="@Model.Actual!.Fecha_Salida" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                   asp-for="@Model.Accion" />
                    @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Id_Estadia, 
                                @Model.Actual!.Fecha_Entrada
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                               value="Borrar"
                               asp-page-handler="BtBorrar"
                               class="btn btn-secondary" />
                            <input type="submit"
                               value="Cerrar"
                               asp-page-handler="BtCancelar"
                               class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flFecha_Entrada"
                   class="cts_forms form-control"
                   asp-for="@Model.Filtro!.Id_Estadia"
                   placeholder="Fecha_Entrada" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Id_Estadia
                            </th>
                            <th>
                                Fecha_Entrada
                            </th>
                            <th class="cl_hidden">
                                Id_Reserva
                            </th>
                            <th class="cl_actions">
                                Fecha_Salida
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Id_Estadia
                                    </td>
                                    <td>
                                        @elemento.Fecha_Entrada
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Id_Reserva
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Fecha_Salida
                                    </td>
                                    <td>
                                        <input type="submit"
                                           value="Modicar"
                                           asp-page-handler="BtModificar"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id_Estadia" />
                                        <input type="submit"
                                           value="Borrar"
                                           asp-page-handler="BtBorrarVal"
                                           class="btn btn-secondary"
                                           asp-route-data="@elemento.Id_Estadia" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>