@page
@model asp_presentacion.Pages.Ventanas.FacturasModel
@{
    ViewData["Titulo"] = "Facturas";
    @*primer rol pal usuario*@ var rol = HttpContext.Session.GetString("Rol");
}
<center>
    <div class="container mt-4">
        <div class="text-center mb-4">
            <img src="/Imagenes/gerente.jpg"
                 alt="Servicios extra"
                 style="max-width: 500px; height: auto; border: 10px solid #ccc; border-radius: 10px;" />
            <p style="font-style: italic; font-size: small;">  Facturacion </p>
        </div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Facturas</h3>
            </div>

            <div class="mb-4">
                <input type="submit" value="Refrescar" asp-page-handler="BtRefrescar" class="btn btn-secondary me-2"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                @*segundo tin de usuario*@ @if (rol != "Huesped")
                {
                    <input type="submit" value="Nuevo" asp-page-handler="BtNuevo" class="btn btn-secondary me-2"
                           disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                    <input type="submit" value="Guardar" asp-page-handler="BtGuardar" class="btn btn-secondary me-2"
                           disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit" value="Cancelar" asp-page-handler="BtCancelar" class="btn btn-secondary"
                           disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                }
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="Actual.Id_Factura" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="Actual.Id_ServicioExtra" />
                <input type="hidden" asp-for="Actual.Id_Estadia" />
                <input type="hidden" asp-for="Actual.Id_Reserva" />
                <input type="hidden" asp-for="Actual.Total" />
                <input type="hidden" asp-for="Actual.Metodo_Pago" />
                <input type="hidden" asp-for="Actual.Cargos_Extra" />
                <input type="hidden" asp-for="Actual.Reseña" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="card p-4 mb-4 shadow-sm">
                    <h4 class="mb-3">Generar Nueva Factura  </h4>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Servicios Disponibles</label>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Actual!.ServiciosExtras!.Piscina" />
                            <label class="form-check-label" asp-for="Actual!.ServiciosExtras!.Piscina">Piscina</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Actual!.ServiciosExtras!.Restaurante" />
                            <label class="form-check-label" asp-for="Actual!.ServiciosExtras!.Restaurante">Restaurante</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Actual!.ServiciosExtras!.Limpieza" />
                            <label class="form-check-label" asp-for="Actual!.ServiciosExtras!.Limpieza">Limpieza</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Actual!.ServiciosExtras!.Mantenimiento" />
                            <label class="form-check-label" asp-for="Actual!.ServiciosExtras!.Mantenimiento">Mantenimiento</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Actual!.ServiciosExtras!.Gimnasio" />
                            <label class="form-check-label" asp-for="Actual!.ServiciosExtras!.Gimnasio">Gimnasio</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" asp-for="Actual!.ServiciosExtras!.Jacuzzi" />
                            <label class="form-check-label" asp-for="Actual!.ServiciosExtras!.Jacuzzi">Jacuzzi</label>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label"><div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Id_Reserva</label>
                        <div class="col-sm-10">
                                    <select asp-for="@Model.Actual!.Id_Reserva" class="form-select" asp-items="@(new SelectList(Model.Reservas, "Id_Reserva", "Fecha_Reserva"))">
                                <option value="">-- Seleccione la fecha de su  Reserva --</option>
                            </select>
                        </div>
                    </div></label>
                        <div class="col-sm-10">
                            <select asp-for="@Model.Actual!.Id_Estadia" class="form-select" asp-items="@(new SelectList(Model.Estadias, "Id_Estadia", "Fecha_Salida"))">
                                <option value="">-- Seleccione su fecha de salida --</option>
                            </select>
                        </div>
                    </div>
              
                    <div class="form-group">
                        <label>Total</label>
                        <input class="cts_forms form-control" asp-for="Actual.Total" />
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Método de Pago</label>
                        <div class="col-sm-10">
                            <select id="nmMetodoPago" class="form-control" asp-for="Actual.Metodo_Pago">
                                <option value="">-- Seleccione --</option>
                                <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                                <option value="Efectivo">Efectivo</option>
                                <option value="Transferencia">Transferencia</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Cargos Extras</label>
                        <div class="col-sm-10">
                            <select id="nmMetodoPago" class="form-control" asp-for="Actual.Cargos_Extra">
                                <option value="">-- Seleccione --</option>
                                <option value="Ninguno">Ninguno </option>
                                <option value="MiniBar">MiniBar</option>
                                <option value="Servicio de lavanderia">Servicio de lavanderia</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Reseña</label>
                        <div class="col-sm-10">
                            <select id="nmMetodoPago" class="form-control" asp-for="Actual.Reseña">
                                <option value="">-- Seleccione --</option>
                                <option value="Excelente">Excelente </option>
                                <option value="Buena">Buena</option>
                                <option value="Regular">Regular</option>
                                <option value="Mala">Mala</option>
                            </select>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }
            @if (ViewData.ContainsKey("Mensaje2"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes2.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2>Mensaje</h2>
                            <h4>Desea borrar la Factura?</h4>
                            <h6>
                                @Model.Actual.Id_Factura,
                                
                                @Model.Actual.Metodo_Pago,
                               
                                
                            </h6>
                            <br />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                            <input type="submit" value="Cerrar" asp-page-handler="BtCancelar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input class="cts_forms form-control" asp-for="Filtro.Id_Factura" placeholder="Buscar por Id_Factura" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id_Factura</th>
                                <th>Id_ServicioExtra</th>
                                <th>Id_Estadia</th>
                                <th>Id_Reserva</th>
                                <th>Total</th>
                                <th>Metodo_Pago</th>
                                <th>Cargos_Extra</th>
                                <th>Reseña</th>

                                @*segundo tin de usuario*@ @if (rol != "Huesped")
                                {
                                    <th>Acción</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var elemento in Model.Lista ?? Enumerable.Empty<dynamic>())
                            {
                                <tr>
                                    <td>@elemento.Id_Factura</td>
                                    <td>@elemento.Id_ServicioExtra</td>
                                    <td>@elemento.Id_Estadia</td>
                                    <td>@elemento.Id_Reserva</td>
                                    <td>@elemento.Total</td>
                                    <td>@elemento.Metodo_Pago</td>
                                    <td>@elemento.Cargos_Extra</td>
                                    <td>@elemento.Reseña</td>
                                    @*Tercer tin de usuario*@ @if (rol != "Huesped")
                                    {
                                    <td>
                                        <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                               class="btn btn-secondary" asp-route-data="@elemento.Id_Factura" />
                                        <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary" asp-route-data="@elemento.Id_Factura" />
                                    </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </form>
    </div>
</center>
