@page
@model asp_presentacion.Pages.Ventanas.HabitacionesModel
@{
    ViewData["Titulo"] = "Habitaciones disponibles";
    @*primer rol pal usuario*@ var rol = HttpContext.Session.GetString("Rol");
}
<center>
    <div class="container mt-4">
        <div class="text-center mb-4">
            <img src="/Imagenes/habi.jpg"
            alt="Servicios extra"
            style="max-width: 500px; height: auto; border: 10px solid #ccc; border-radius: 10px;" />
            <p style="font-style: italic; font-size: small;">Habitaciones </p>
        </div>

        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <h3>Habitaciones disponibles</h3>
            </div>

            <div class="mb-4">
                <input type="submit" value="Refrescar" asp-page-handler="BtRefrescar" class="btn btn-secondary me-2"
                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                @*segundo tin de usuario*@ @if (rol != "Huesped")
                {
                    <input type="submit" value="Nuevo" asp-page-handler="BtNuevo" class="btn btn-secondary me-2"
                    disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />

                    <input type="submit" value="Guardar" asp-page-handler="BtGuardar" class="btn btn-secondary me-2"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                    <input type="submit" value="Cancelar" asp-page-handler="BtCancelar" class="btn btn-secondary"
                    disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />}
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id_Habitacion" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id_Hotel" />
                <input type="hidden" asp-for="@Model.Actual!.Id_Sede" />

                <input type="hidden" asp-for="@Model.Actual!.Numero_Habitacion" />
                <input type="hidden" asp-for="@Model.Actual!.Precio_Habitacion" />
                <input type="hidden" asp-for="@Model.Actual!.Camas" />
                <input type="hidden" asp-for="@Model.Actual!.Estado" />
                <input type="hidden" asp-for="@Model.Actual!.Capacidad" />

            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="card p-4 mb-4 shadow-sm">
                    <h4 class="mb-3">Nueva Habitacion</h4>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Id_Hotel</label>
                        <div class="col-sm-10">
                            <select asp-for="@Model.Actual!.Id_Hotel" class="form-select" asp-items="@(new SelectList(Model.Hoteles, "Id_Hotel", "Nombre"))">
                                <option value="">-- Seleccione un hotel --</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Id_Sede</label>
                        <div class="col-sm-10">
                            <select asp-for="@Model.Actual!.Id_Sede" class="form-select" asp-items="@(new SelectList(Model.Sedes, "Id_Sede", "Locacion"))">
                                <option value="">-- Seleccione una Sede --</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Numero_Habitacion</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="@Model.Actual!.Numero_Habitacion" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Precio_Habitacion</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="@Model.Actual!.Precio_Habitacion" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Camas</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="@Model.Actual!.Camas" />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Estado</label>
                        <div class="col-sm-10">
                            <select class="form-select" asp-for="Actual!.Estado">
                                <option value="Disponible">Disponible</option>
                                <option value="Ocupado">Ocupado</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Capacidad</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="@Model.Actual!.Capacidad" />
                        </div>
                    </div>



                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }
            @if (ViewData.ContainsKey("Mensaje2"))
            {
                <input type="hidden"
                asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes2.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2>Mensaje</h2>
                            <h4>¿Desea borrar esta Habitacion?</h4>
                            
                            <h6> @Model.Actual!.Numero_Habitacion</h6>
                            <h6> @Model.Actual!.Estado</h6>
                            <h6> @Model.Actual!.Camas</h6>

                            <br />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-danger me-2" />
                            <input type="submit" value="Cerrar" asp-page-handler="BtCancelar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class="mb-3">
                    <input id="flId_Habitacion"
                    class="form-control"
                    asp-for="@Model.Filtro!.Id_Habitacion"
                    placeholder="Id_Habitacion" />
                </div>

                <div class="card p-3 shadow-sm">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id_Habitacion</th>
                                <th>Id_Hotel</th>
                                <th>
                                    Id_Sede  
                                </th>

                                <th>
                                    Numero_Habitacion 
                                </th>
                                <th>
                                    Precio_Habitacion 
                                </th>
                                <th>
                                    Camas 
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Capacidad 
                                </th>
                                @*segundo tin de usuario*@ @if (rol != "Huesped")
                                {
                                    <th>Acción</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Lista != null)
                            {
                                foreach (var elemento in Model.Lista)
                                {
                                    <tr>
                                        <td>@elemento.Id_Habitacion</td>
                                        <td>@elemento.Id_Hotel</td>
                                        <td>@elemento.Id_Sede</td>
                                        <td>@elemento.Numero_Habitacion</td>
                                        <td>@elemento.Precio_Habitacion</td>
                                        <td>@elemento.Camas</td>
                                        <td>@elemento.Estado</td>
                                        <td>@elemento.Capacidad</td>
                                        @*Tercer tin de usuario*@ @if (rol != "Huesped")
                                        {
                                            <td>
                                                <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                                   class="btn btn-warning btn-sm me-1"
                                                   asp-route-data="@elemento.Id_Habitacion" />
                                            <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                                   class="btn btn-danger btn-sm"
                                                   asp-route-data="@elemento.Id_Habitacion" />
                                        </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
        </form>
    </div>
</center>
